/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 5px 0 0;
    font-size: 16px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#auth-container {
    display: flex;
    gap: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

section {
    margin: 20px 10px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Секция с правилами */
.rules-container {
    margin-bottom: 20px;
}

.rules-section h2 {
    margin-bottom: 10px;
}

.rules {
    list-style-type: none;
    padding-left: 0;
}

.rule-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
}

.rule-item p {
    margin: 0;
    flex: 1;
}

/* Стили для кнопок удаления правил */
.delete-button {
    background-color: #e74c3c;
}

.delete-button:hover {
    background-color: #c0392b;
}

/* Секция для добавления нового правила */
.add-rule-container {
    margin-bottom: 20px;
}

.add-rule {
    display: flex;
    gap: 10px;
}

.add-rule input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Секция загрузки изображений */
.image-section h2 {
    margin-bottom: 20px;
}

.image-container {
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

.image-container button {
    margin-right: 10px;
}

/* Секция для анкет на вступление */
.application-section h2 {
    margin-bottom: 10px;
}

.application-section label {
    font-weight: bold;
}

.application-section input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.application-section button {
    width: 100%;
}

/* Стили для контейнеров анкет */
.applications-container {
    margin-top: 20px;
}

.applications-container div {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
